<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>

<body>
    <div layout:fragment="contenido" class="container-fluid">
        <h2 th:text="${titulo}"></h2>
        <div class="form" sec:authorize="${hasRole('ADMIN') or hasRole('USER')}">
            <div class="tab-content">
                <div id="signup">
                    <form th:action="@{/usuarios/guardar}" method="post" th:object="${usuario}">
                        <div class="card-body shadow p-3 mb-5 bg-body rounded">
                            <div class="form">
                                <label for="name" class="form-label">Nombre</label>
                                <input id="name" type="text" class="form-control" th:field="*{nombre}"
                                    th:errorClass="'form-control alert-warning'" />
                                <small class="form-label text-danger" th:errors="*{nombre}"></small>
                            </div>
                            <div class="form">
                                <label for="cla" class="form-label">Contraseña</label>
                                <input id="cla" type="password" class="form-control" th:field="*{clave}"
                                    th:errorClass="'form-control alert-warning'" />
                                <small class="form-label text-danger" th:errors="*{clave}"></small>
                            </div>
                            <div class="form">
                                <label for="permiso" class="form-label">Permiso</label>
                                <select name="permiso" id="permiso" class="form-select">
                                    <option th:each="p : ${permisos}" th:value="${p.id}" th:text="${p.nombre}"></option>
                                </select>
                            </div>
                            <div class="form">
                                <label for="sucursalAsignada" class="form-label">Sucursal Asignada</label>
                                <select name="sucursalAsignada" id="sucursalAsignada" class="form-select">
                                    <option th:each="s : ${sucursales}" th:value="${s.id}" th:text="${s.nombre}">
                                    </option>
                                </select>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-primary float-end ms-2">
                                Guardar
                            </button>
                            <a href="/usuarios/listado" class="btn btn-outline-secondary float-end">
                                Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>

</html>