<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>

<body>
    <div layout:fragment="contenido" class="container fluid ">
        <div class="text-end">
            <a th:href="@{/usuarios/nuevo}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="left"
                title="Nuevo usuario">
                <i class="bi bi-person-add"></i>
            </a>
        </div>
        <h4 th:text="${titulo}" class="text-center text-uppercase"></h4>
        <div sec:authorize="${hasRole('ADMIN') or hasRole('USER')}"
            class="table-container overflow-auto border rounded shadow mt-2">
            <table class="table table-hover rounded">
                <thead>
                    <tr class="text-uppercase">
                        <th scope="col" class="fw-bold text-center ps-2">#</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Permiso / Rol</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="u : ${usuarios}">
                        <th scope="row" th:text="${u.id}" class="text-center ps-2"></th>
                        <td th:text="${u.nombre}"></td>
                        <td th:text="${u.permiso.nombre}"></td>
                        <td th:text="${u.activo}" class="text-uppercase"></td>
                        <td style="max-width: 40px;">
                            <a th:href="@{/usuarios/editar/} + ${u.id}" class="btn btn-sm btn-warning btn-accion"
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modificar">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a th:href="@{/usuarios/borrar/} + ${u.id}"
                                th:class="'btn btn-sm btn-danger btn-accion' + ${u.activo && #authentication.name == u.nombre ? ' disabled' : ''}"
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"
                                onclick="return confirm('¿Estás seguro de deshabilitar el Registro?')">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>