<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${titulo}"></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>

<body>
    <div layout:fragment="contenido" >

        <!-- MODAL MEDIOS Y FORMAS DE PAGO -->
        
        <div class="modal fade" id="mediosDePago" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content p-2">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Medios de pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <h6>Mercado Pago</h6>
                        <img th:src="@{/img/pagos/medios-de-pago.png}" class="w-100" alt="Mercado pago">
                    </div>
                    <hr>
                    <h6>Otros</h6>
                    <div class="text-center">
                        <div class="d-inline-block m-1">
                            <p>Transferencia/Depósito</p>
                            <img th:src="@{/img/pagos/transferencia.png}" class="img-pago" alt="Transferencia">
                        </div>
                        <div class="d-inline-block m-1">
                            <p>Efectivo</p>
                            <img th:src="@{/img/pagos/efectivo.png}" class="img-pago" alt="Efectivo">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Listo</button>
                <!-- <button type="button" class="btn btn-primary">Listo</button> -->
                </div>
            </div>
            </div>
        </div>

        <div class="container detalle-producto shadow">

            <!-- IMAGENES PRODUCTO -->
            <div class="row">
                <div class="col-7">
                    <div id="carouselExampleIndicators" class="carousel carousel-dark slide justify-content-center" data-bs-ride="carousel">
                        <div class="carousel-indicators mb-1">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                            <img th:src="@{/img/productos/i5-12400-1.png}" class="d-block w-100" alt="...">
                          </button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
                            <img th:src="@{/img/productos/i5-12400.png}" class="d-block w-100" alt="...">
                          </button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">
                            <img th:src="@{/img/productos/i5-12400-2.png}" class="d-block w-100" alt="...">
                          </button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active p-4 img-container">
                            <img th:src="@{/img/productos/i5-12400-1.png}" class="d-block " alt="...">
                          </div>
                          <div class="carousel-item p-4 img-container">
                            <img th:src="@{/img/productos/i5-12400.png}" class="d-block " alt="...">
                          </div>
                          <div class="carousel-item p-4 img-container">
                            <img th:src="@{/img/productos/i5-12400-2.png}" class="d-block " alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <!-- DATOS PRINCIPALES -->
                <div class="col-5 datos-producto">
                    <h3>
                        PROCESADOR SOCKET 1700 INTEL CORE I5 12400 4.4GHZ 6N 12H
                    </h3>
                    <hr>
                    <div class="text-success fw-bold">
                        <i class="bi bi-check-circle-fill"></i> 
                        <span>Disponible</span>
                    </div>
                    <div class="precio-producto">
                        <span>$140.999,00</span>
                    </div>
                    <div class="text-success fw-bold">
                        <i class="bi bi-rocket-takeoff-fill"></i>
                        <span>Envío gratis</span>
                    </div>
                    <div>
                        <a type="button" class="" data-bs-toggle="modal" data-bs-target="#mediosDePago">
                            Ver medios de pago
                        </a>
                    </div>
                    <hr>
                    <div>
                        Carecterísticas:
                        <ul>
                            <li>12va Generación</li>
                            <li>Procesador de 6 núcleos y 12 hilos</li>
                            <li>Velocidad turbo de 4.4GHz</li>
                            <li>18MB de memoria cache</li>
                            <li>Gráficos UHD Intel 730</li>
                        </ul>
                    </div>
                </div>            
            </div>
            <hr>


            <!-- DESCRIPCION PRODUCTO -->
            <div class="row">
                <h3 class="text-center">
                    DESCRIPCION
                </h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis nobis explicabo aliquid doloremque delectus commodi consequatur minima, ex ut optio facere! Illum, aliquid! Esse, nam minus assumenda ut eaque nemo.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum impedit similique ea iure voluptatum ratione modi illum fugit cum provident! Consequuntur asperiores similique cum accusantium possimus debitis maxime quis iure!
                </p>
            </div>
        </div>
    </div>



        <!--bootstrap 5.0.2 JS CDN-->
        <script th:fragment="js"></script>
</body>

</html>