<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>

<body>
    <div layout:fragment="contenido" class="container-fluid">
        <form id="formVenta" th:action="@{/ventas/guardar}" th:object="${venta}" method="post">
            <div class="card">
                <div class="card-header">
                    <span class="card-title" th:text="${titulo}"></span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col col-12">
                            <div class="form-group float-end"
                                style="font-family: 'Arial Narrow,'; font-size: 25px; color: blue;">
                                <small class="card-text">Usuario: </small>
                                <span sec:authentication="name"></span>
                            </div>
                            <div class="col col-6">
                                <div class="form-group"  style="font-family: 'Arial Narrow,'; font-size: 25px; color: blue;">
                                    <!--small class="card-text">Numero de Factura:</small-->
                                    <br />
                                    <label th:field="*{nroFactura}"></label>
                                        
                                </div>
                            </div>
                        </div>
                        <div class="col col-3">
                            <div class="form-group">
                                <small class="card-text">Fecha y Hora</small>
                                <br />
                                <label th:field="*{fechaHora}"
                                    th:text='*{#temporals.format(fechaHora, "dd/MM/yyyy HH:mm")}'></label>
                            </div>
                        </div>
                        <div class="col col-4">
                            <div class="form-group">
                                <small class="card-tetx">Descripción</small>
                                <textarea class="form-control" rows="3" th:field="*{descripcion}"></textarea>
                            </div>
                        </div>
                        <div class="col col-3">
                            <div class="form-group">
                                <small class="card-text">Total</small>
                                <h4 id="total" class="text-success money">0.00</h4>
                            </div>
                        </div>

                    </div>
                    <hr class="my-5" />
                    <!--Linea de Venta (DETALLES)-->
                    <!--Buscador de Productos-->
                    <div class="row">
                        <div class="col col-12">
                            <div class="form-group">
                                <small class="card-text">Buscador Productos</small>
                                <input id="buscar_productos" type="search" class="form-control">
                            </div>
                        </div>
                    </div>
                    <table id="tabla_productos" class="table table-bordered table-hover table-striped mt-4 text-center">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th class="money">Precio</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <!--Tabla Auxiliar-->
                    <table class="d-none">
                        <tbody id="lineas">
                            <tr id="fila_{ID}">
                                <td class="d-none">
                                    <input type="hidden" value="{ID}" name="item_id[]">
                                </td>
                                <td>
                                    {DESCRIPCION}
                                </td>
                                <td>
                                    {PRECIO}
                                </td>
                                <td>
                                    <input type="number" value="1" min="1" name="cantidad[]" id="cantidad_{ID}"
                                        class="form-control" style="width:100px;"
                                        onchange="lineasUtil.calcularSubtotal({ID}, {PRECIO}, this.value)">
                                </td>
                                <td>
                                    <span id="subtotal_{ID}">0.00</span>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-sm btn-danger" onclick="lineasUtil.borrar({ID})">
                                        <i class='bx bxs-eraser bx-tada'></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="card-footer">
                    <a href="#" onclick="$('#formVenta').submit();" class="btn btn-primary float-end">
                        Guardar
                    </a>
                </div>
            </div>
        </form>
    </div>
    <!--Script-->
    <script th:fragment="js" th:src="@{/js/venta.js}">
        $('.money').mask("#.##0,00", { reverse: true });
    </script>

</body>

</html>