<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>

<body>
    <div layout:fragment="contenido" class="container-fluid" style="font-family: arial; font-size: 17px;">
        <div class="container">
            <form id="formCompra" th:action="@{/compras/guardar}" th:object="${compra}" method="post">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title" th:text="${titulo}"></span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-5">
                                <div class="form">
                                    <label for="prov" class="form-label">Proveedor</label>
                                    <select name="prov" id="prov" class="form-select">
                                        <option th:each="p : ${proveedores}" th:value="${p.id}" th:text="${p}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col col-3">
                                <div class="form-group">
                                    <small class="card-text">Total</small>
                                    <h4 id="total" class="text-success">0.00</h4>
                                </div>
                            </div>
                            <div class="col col-3">
                                <div class="form-group">
                                    <small class="card-text">Fecha y Hora</small>
                                    <br />
                                    <label th:field="*{fechaHora}"
                                        th:text='*{#temporals.format(fechaHora, "dd/MM/yyyy HH:mm")}'></label>
                                </div>
                            </div>
                            <div class="form col col-5" style="padding: 10px;">
                                <label for="cat" class="form-label">Categorias</label>
                                <select name="cat" id="cat" class="form-select">
                                    <option th:each="c : ${categorias}" th:value="${c.id}" th:text="${c}"></option>
                                </select>
                            </div>
                            <div class="form col col-8">
                                <label for="name" class="form-label">
                                    Descripción del Producto</label>
                                <input id="name" type="text" class="form-control"
                                    placeholder="Ingrese la descripcion del Producto" th:field="*{descripcion}"
                                    th:errorClass="'form-control alert-warning'" />
                                <small class="form-label text-danger" th:errors="*{descripcion}"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="padding: 10px;">
                <div class="col" style="display: flex; margin: 10px;">
                    <div class="form col col-4">
                        <a th:href="@{/proveedores/nuevo2}" class="btn btn-outline-primary">
                            Nuevo Proveedor
                        </a>
                    </div>
                    <div class="form col col-4">
                        <a th:href="@{/productos/nuevo2}" class="btn btn-outline-primary">
                            Nuevo Producto
                        </a>
                    </div>
                    <div class="form col col-4">
                        <a th:href="@{/categorias/nuevo}" class="btn btn-outline-primary">
                            Nueva Categoria
                        </a>
                    </div>
                </div>

                <!--Buscador de Productos-->

                <div class=" form col col-8" style="padding: 10px;">
                    <div class="form-group">
                        <small class="card-text">Buscador Productos</small>
                        <input id="buscar_productos" type="search" class="form-control">
                    </div>
                </div>
                <table id="tabla_productos" class="table table-bordered table-hover table-striped mt-4 text-center">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

                <!--Tabla Auxiliar-->
                <table class="d-none">
                    <tbody id="lineas">
                        <tr id="fila_{ID}">
                            <td class="d-none">
                                <input type="hidden" value="{ID}" name="item_id[]">
                            </td>
                            <td>
                                {DESCRIPCION}
                            </td>
                            <td>
                                {PRECIO}
                            </td>
                            <td>
                                <input type="number" value="1" min="1" name="cantidad[]" id="cantidad_{ID}"
                                    class="form-control" style="width:100px;"
                                    onchange="lineasUtil.calcularSubtotal({ID}, {PRECIO}, this.value)">
                            </td>
                            <td>
                                <span id="subtotal_{ID}">0.00</span>
                            </td>
                            <td>
                                <a href="#" class="btn btn-sm btn-danger" onclick="lineasUtil.borrar({ID})">
                                    <i class='bx bxs-eraser bx-tada'></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>

                </table>

                

        </div>
        <div class="card-footer">
            <a href="#" onclick="$('#formCompra').submit();" class="btn btn-primary float-end">
                Guardar
            </a>
        </div>
        </form>
       

    </div>

    <!--Script-->
    <script th:fragment="js" th:src="@{/js/compra.js}">
        $('.money').mask("#.##0,00", { reverse: true });
    </script>

</body>

</html>